{% extends "layout.html" %}

{% block content %}
    <h1>Developed by Olym</h1>
    <div>
        This application can help you better organize your daily life.
    </div></br>

    <div>
        If you don't have an account so far, then you can click the 'Register' button at the right side of navigator, and apply for one following instructions.
    </div></br>

    <div>
        If you already have one account, then click the "Login" button and fill in your email address and password to get login.
    </div></br>

    <div>
        Once you login, you can enjoy the service provided by this application. Post your first todo after clicking "New Todo" and get your life scheduled !
    </div><br>

    <div>
        You can view all your todos in home page, and apply multiple operations on them. Various information are displayed for each todo.
    </div><br>

    <div>
        Enjoy your using !
    </div><br>


{% endblock content %}