{% extends "layout.html" %}
{% block content %}

    <!--posts-->
    {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body article-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <!--controls, such as like buttons, comments, and collection-->
            <div>
                <span class="btn btn-info like" ref="{{post.id}}">
                    like
                    <span id="like_count{{post.id}}" >{{post.likes}}</span>
                </span>
                
                <button type="button" class="btn btn-primary btn-info comment-btn" ref="{{post.id}}" data-toggle="modal" data-target="#modal{{post.id}}">
                    Comments
                </button>

                <div class="modal fade" id="modal{{post.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="comment-list-{{post.id}}">
                            </div>
                            <div class="modal-footer">
                                <form style="width: 60%" id="comment-form-{{post.id}}">
                                    <!-- <textarea class="form-control"></textarea> -->
                                    <input type="text" name="comment" class="form-control" required = "required">
                                </form>
                                <button type="button" class="btn btn-primary btn-sm send-button" ref="{{post.id}}" style="width: 25%">
                                    Comment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        </article>
    {% endfor %}

    


    <!--pagination-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

<script>
$(function() {
    // 点赞
    $like_btns = $(".like") // 为了防止下面回调函数中的this指向错误;
    $like_btns.on('click', function () {

        $like_btn = $(this)
        $.ajax({
            type:"POST",
            url:'/like/' + $(this).attr('ref'),
            success: function(data) {
                // 还没点赞
                if (data.logged) {
                    if (!data.founded) {
                        notify("like one post !", "info")
                        $like_btn.children().html(data.count)
                    }
                    // 点过赞了
                    else {
                        notify("remove one like", "info")
                        $like_btn.children().html(data.count)
                    }
                }
                else {
                    notify("please log in first !", "danger")
                    $like_btn.children().html(data.count)
                }
                    

            },
            error: () => {
                console.log('error')
            }
        })
    })

    // 添加评论
    $(".send-button").on("click", function () {
        $post_id = $(this).attr('ref')
        if ( ! ($("#comment-form-"+$post_id).serialize().trim()=="comment=")) {
            $.ajax({
                type: "POST",
                url: '/make_comment/'+$post_id,
                data: $("#comment-form-"+$post_id).serialize(),
                success: function (item) {
                    if (item.logged) {
                        add_item(item)
                    }
                    else {
                        notify("please login first !", "danger")
                    }
                },
                error: function () {
                    console.log("fail")
                }
            })
        } else {
            notify('Don\'t make an empty comment !', 'danger')
        }
        $("input").val('')
    })

    // 加载帖子的评论
    $(".comment-btn").on("click", function () {
        $post_id = $(this).attr('ref')
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "/get_comments/"+$post_id,
            success: function (result) {
                $("#comment-list-"+$post_id).html("")
                console.log(result)
                result.data.forEach((item) => {
                    add_item(item)
                });
            }
        })
    })

    function add_item (item) {
        let filename ="profile_pics/" + item.img
        let container = $("<div class='comment-container'></div>")
        let header = $("<div class='comment-header'></div>")
        let profile_img = $(`<div><img class='rounded-circle comment-img' src='/static/profile_pics/${item.img}''><a href="/user/${item.username}">${item.username}</></div>`)
        header.append(profile_img)
        header.append($("<span class='comment-time'></span>").text(item.time))
        container.append(header)
        container.append($("<span class='comment-content'></span>").text(item.content))
        $("#comment-list-"+$post_id).append(container)
    }

    function notify (info, signal) {
        bootoast({
            message: info,
            type: signal,
            position: 'right-bottom',
            timeout: 2
        })
    }



})

</script>
{% endblock content %}
