<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootoast.css') }}">

    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script src="{{url_for('static', filename='popper.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='bootoast.js')}}"></script>

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Flask Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
              <a class="nav-item nav-link" href="{{ url_for('main.settings') }}">Settings</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{url_for('users.user_posts', username=current_user.username)}}">
                    <img class="rounded-circle my-nav-img" src="{{ url_for('static',filename='profile_pics/' + current_user.image_file) }}">
                </a>
                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


</body>

<script>
    console.log('testing start')
    let steel = document.getElementsByClassName('bg-steel')[0]
    let color = localStorage.getItem('color')
    if (color == null) {
        console.log('use default steel color (grey)')
    } else {
        steel.style.background = color
    }

$(function () {


    // 点赞
    $like_btns = $(".like") // 为了防止下面回调函数中的this指向错误;
    $like_btns.on('click', function () {

        $like_btn = $(this)
        $.ajax({
            type:"POST",
            url:'/like/' + $(this).attr('ref'),
            success: function(data) {
                // 还没点赞
                if (data.logged) {
                    if (!data.founded) {
                        notify("like one post !", "info")
                        $like_btn.children().html(data.count)
                    }
                    // 点过赞了
                    else {
                        notify("remove one like", "info")
                        $like_btn.children().html(data.count)
                    }
                }
                else {
                    notify("please log in first !", "danger")
                    $like_btn.children().html(data.count)
                }
                    

            },
            error: () => {
                console.log('error')
            }
        })
    })

    // 添加评论
    $(".send-button").on("click", function () {
        $post_id = $(this).attr('ref')
        if ( ! ($("#comment-form-"+$post_id).serialize().trim()=="comment=")) {
            $.ajax({
                type: "POST",
                url: '/make_comment/'+$post_id,
                data: $("#comment-form-"+$post_id).serialize(),
                success: function (item) {
                    if (item.logged) {
                        add_item(item)
                    }
                    else {
                        notify("please login first !", "danger")
                    }
                },
                error: function () {
                    console.log("fail")
                }
            })
        } else {
            notify('Don\'t make an empty comment !', 'danger')
        }
        $("input").val('')
    })

    // 加载帖子的评论
    $(".comment-btn").on("click", function () {
        $post_id = $(this).attr('ref')
        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "/get_comments/"+$post_id,
            success: function (result) {
                $("#comment-list-"+$post_id).html("")
                console.log(result)
                result.data.forEach((item) => {
                    add_item(item)
                });
            }
        })
    })

    function add_item (item) {
        let filename ="profile_pics/" + item.img
        let container = $("<div class='comment-container'></div>")
        let header = $("<div class='comment-header'></div>")
        let profile_img = $(`<div><img class='rounded-circle comment-img' src='/static/profile_pics/${item.img}''><a href="/user/${item.username}">${item.username}</></div>`)
        header.append(profile_img)
        header.append($("<span class='comment-time'></span>").text(item.time))
        container.append(header)
        container.append($("<span class='comment-content'></span>").text(item.content))
        $("#comment-list-"+$post_id).append(container)
    }

    function notify (info, signal) {
        bootoast({
            message: info,
            type: signal,
            position: 'right-bottom',
            timeout: 2
        })
    }



})

</script>

</html>
